	<!-- SEO -->
{% if is_home %}
	{{ seo_title(title, false) }}
{% else %}
	{{ seo_title(title) }}
{% endif %}
{% if description %}
	{{ seo_description(description) }}
{% endif %}
	{{ seo_og(title, fb_description, canonical, social_image) }}
	{{ seo_twitter_card(title, fb_description, social_image, null, 'summary_large_image') }}
{% if is_home %}
	{{ seo_geotag(true) }}
{% else %}
	{{ seo_geotag(false,geo_components,geo_lat,geo_lng) }}
{% endif %}
	{{ seo_referrer() }}
	{{ seo_other() }}
	{{ seo_canonical(canonical) }}
	<!-- end SEO -->
	