{# TITLE #}
{% if post.socialseo.title %}
	{% set title = post.socialseo.title %}
{% else %}
	{% set title = post.title %}
{% endif %}

{# META DESCRIPTION #}
{% if post.socialseo.description %}
	{% set description = post.socialseo.description %}
{% else %}
	{% set description = post.content %}
{% endif %}

{# SOCIAL DESCRIPTION #}
{% if post.socialseo.fb_description %}
	{% set fb_description = post.socialseo.fb_description %}
{% else %}
	{% set fb_description = seo_short(description,255) %}
{% endif %}

{# OG IMAGE & TWITTER CARD IMAGE #}
{% if post.social_image %}
	{% set social_image = post.social_image.thumb(1200, 630, { mode: 'crop', quality: '80', extension: 'jpg' }) %}
{% else %}
	{% set social_image = post.cover_image.thumb(1200, 630, { mode: 'crop', quality: '80', extension: 'jpg' }) %}
{% endif %}

{% set canonical = post.socialseo.canonical_url %}

{# DISPLAY DOPO LA PREPARAZIONE #}
{% put SEO %}
{% default %}
	<!-- BlogSeo -->
	{% partial 'CmsSeo::seo' 
		title = title
		description = description
		fb_description = fb_description
		social_image = social_image
		canonical = canonical
		geo_components = post.geo_components
		geo_lat = post.geo_lat
		geo_lng = post.geo_lng
	%}
{% endput %}